
*{
   
    
}

.navbar1{
    display: flex;
    flex-direction: row;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navbar-sub{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.navbar-sub>ul{
    display: flex;

}
.navbar-sub>ul>li>a{
    text-decoration: none;
    
}
.navbar-sub>ul>li{
list-style: none;

}
.logo{
    padding: 20px 10px;
    
}
.logo>a{
    text-decoration: none;
    
    
}
.nav-btn{
    padding: 0px 10px;
    margin: 10px 45px;
    justify-content: end;
    color: rgba(0, 0, 0, 0.733);
}
.nav-btn1{
    margin: 0px 85px;
    padding: 10px 40px;
    background-color:orange;
    border-radius:29px;

}
.nav-btn1>a{
    color: white;
}

.hover:hover{
   border-bottom: 2px solid black;
   border-bottom-width: ;
    color:black;
    /* text-underline-offset: 5px; */
    
}

.section1{
    display: flex;
    justify-content: space-between;
    background:url('../img/man.jpg') no-repeat center center/cover;
    /* background-size: ; */
    height: 554px;
}

.section1-sub{
    width: 30%;
    padding: 0px 102px;
}
.section1-sub>h1{
    font-size:50px;
}
.section1-sub>p{
    font-size:20px;
    margin-top: 15px;
    margin-bottom: 50px;
}
.section1-sub>a{
    color: white;
    background-color:orange;
    border-radius: 29px;
    text-decoration: none;
    padding: 14px 32px;
}
.section1-overlap{
    width: 50%;
    height: 100px;
    /* border: 2px solid red; */
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    right: 0px;
    background-color:white;
    border-radius:15px;
    margin-right: 15px;
    box-shadow: 0 0px 6px 1px rgb(173, 167, 167); 
    bottom: 15px;
    
}
.section1-overlap{
    

}


.bing>img{
    width: 44px;
    height: 40px;
    
}
.bing-1{
    margin-top: 11px;
}
.gog-1{
    margin-top: 11px;
}

.icon-name{
    display: flex;
}
.ads>svg{
   
    height: 39px;
    width: 41px;
}

.yahoo{
    margin-left: -27px;
    width: 157px;
    height: 197px;
}




/* section 2  */

.section2{
    /* border: 2px solid red; */
    margin-top: 90px;
    height: 1500px;
    width: 100%;
    background-color:rgba(200, 230, 230, 0.863);

}
.section2 h1{
    margin-left: 172px;
    position: absolute;
    margin-top:95px;
    font-size: 50px;
    text-decoration: underline;

}

.section2-sub{
    display: flex;
    /* flex-direction: column; */
    /* justify-content: flex-end;
    align-items: flex-end; */
    height:100%;
}
.card{
    width: 400px;
    height: 400px;
    /* border: 2px solid red; */
    
    background-color:white;
    border-radius:15px;
    box-shadow: 0px 0px 6px 1px rgb(138, 132, 132);
    margin-right: 0px;
    margin: 40px 0px;
    
}

.sec2-sub1{
    /* background-color:yellow; */
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    align-items: center;
    margin-left: 72px;
    margin-top: 351px;
 
}
.sec2-sub2{
    /* background-color:blue; */
    display: flex;
    flex-direction: column;
    width: 35%;
    justify-content: center;
    align-items: center;
    margin-left: -113px;
    margin-right: 32px;
}
.sec2-sub3{
    /* background-color:green; */
    display: flex;
    flex-direction: column;
    width: 25%;
   justify-content: center;
   margin-right: 56px;
    margin-left: -35px;
   align-items: center;

}



/* section 3  */


.section3{
    background-color: rgb(233, 187, 135);
    height: 650px;
}

.for_slick_slider2{
  margin: 100px 15px 90px 15px;
  display: flex;
  justify-content:center;
  align-items: center;

}
.items3{
    margin: 5px 30px;
   border: 2px solid white;
    background-color: white;
    box-shadow: 0px 0px 6px 1px rgb(172, 164, 164);
    height: 80px;
    border-radius:15px;
}


.section3 h1{
    font-size: 40px;
    text-decoration:underline;

    margin-left: 120px;
}

.prev_arrow{
    margin-right:50px;
}
.next_arrow{
    margin-left: 50px;
}




/* section 4 */


.section4{
    /* border: 2px solid red; */
    margin-top: 90px;
    height: 1500px;
    width: 100%;
    background-color:rgba(200, 230, 230, 0.863);
    /* border: 2px solid red; */

}
.section4>h1{
    margin-left: 172px;
    position: relative;
    top: 45px;
    font-size: 50px;
    text-decoration: underline;

}

.section4-sub{
    display: flex;
    /* flex-direction: column; */
    /* justify-content: flex-end;
    align-items: flex-end; */
    height:100%;
}
.photo{
    width: 250px;
    height: 250px;    
    background-color:white;
    border-radius:130px;
    box-shadow: 0px 0px 6px 1px rgb(138, 132, 132);
    margin: 20px 0px;
    display: flex;
    
    justify-content: center;
    align-items: center;
}

.sec4-sub1{
    /* background-color:yellow; */
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: center;
    align-items: center;
  
    margin-top: -320px;
 
}
.sec4-sub2{
    /* background-color:blue; */
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-top: 70px;
    justify-content: center;
    align-items: center;
   
}
.sec4-sub3{
    /* background-color:green; */
    display: flex;
    flex-direction: column;
    width: 25%;
   justify-content: center;
   margin-top:-230px ;
   align-items: center;

}
.sec4-sub4{
    /* background-color:green; */
    display: flex;
    flex-direction: column;
    width: 25%;
   justify-content: center;
 
   
    margin-top: -215px;
   align-items: center;

}

.photo-h1{
    margin:0;
}
.photo-p{
    margin:0;
    margin-bottom:50px;
}



/* section 5  */




.section5{
   
   
    height: 1000px;
    width: 100%;
    background-color:rgba(200, 230, 230, 0.863);

}
.section5 h1{
    margin-left: 172px;
    position: relative;
    top: 50px;
  
    margin-bottom: -50px;

   
    font-size: 50px;
   
    text-decoration: underline;

}

.section5-sub{
    display: flex;
   justify-content: space-between;
  align-items: center;
    height:100%;
    padding: 0px 50px;
   
    
}
.card5{
    width: 32%;
    height: 600px;
    background-color:white;
    border-radius:15px;
    box-shadow: 0px 0px 6px 1px rgb(138, 132, 132);
}
